# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore .env file (contains sensitive information)
.env

# Ignore coverage directory
coverage/

# Ignore transpiled test files
auth.test.js
category.test.js
expense.test.js
budget.test.js
currency.test.js

auth.test.js.map
budget.test.js.map
category.test.js.map
currency.test.js.map
expense.test.js.map

# Ignore transpiled helper functions
registerUser.js
addExpense.js
resetTables.js

addExpense.js.map
registerUser.js.map
resetTables.js.map