# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore .env file (contains sensitive information)
.env

# Ignore coverage directory
coverage/

# Ignore transpiled test files
auth.test.js
category.test.js
expense.test.js


# Ignore transpiled helper functions
registerUser.js
