---
import Layout from "@/layouts/Layout.astro";
import ProfileNav from "@/components/profile/ProfileNav";
// import Stats from "@/components/profile/Stats";
---

<Layout title="Profile - Stats">
    <!-- <Protect client:load mustBeAuthenticated={true} /> -->
    <main class="flex items-center justify-center w-svw">
        <ProfileNav page="stats" client:load />
        <div class="w-[360px] p-8 rounded-md flex flex-col items-center">
            <!-- <Stats client:load /> -->
        </div>
    </main>
</Layout>
