---
import { ModeToggle } from "./ModeToggle";
import { Input } from "@/components/ui/input";

const routes = ["Overview", "Expenses"];
---

<nav class="container mx-auto flex justify-between items-center py-2">
    <div class="flex gap-5 items-center">
        <div class="font-bold text-lg">
            <a href="/">
                Budget
                <span class="font-medium text-blue-600">App</span>
            </a>
        </div>
        <ul class="list-none flex gap-3">
            {
                routes.map((route) => (
                    <li class="hover:text-blue-600">
                        <a href={`/${route.toLowerCase()}`}>{route}</a>
                    </li>
                ))
            }
        </ul>
    </div>
    <ul class="list-none flex gap-3">
        <Input type="text" placeholder="Search..." />
        <ModeToggle client:load />
    </ul>
</nav>
