---
import Layout from "@/layouts/Layout.astro";
import ExpensesTable from "@/components/ExpensesTable";
---

<Layout title="Dashboard">
    <main class="p-3 h-full max-w-screen-lg mx-auto">
        <ExpensesTable client:only />
    </main>
</Layout>
