---
import Layout from "@/layouts/Layout.astro";
import ExpensePage from "@/components/expensefilters/ExpensePage";
---

<Layout title="Dashboard">
    <main class="p-3 h-full max-w-screen-lg mx-auto w-full">
        <ExpensePage client:load />
    </main>
</Layout>
