---
import Layout from "@/layouts/Layout.astro";
import ExpensePage from "@/components/expensefilters/ExpensePage";
import Protect from "@/components/Protect";
---

<Layout title="Dashboard">
    <main class="p-3 h-full max-w-screen-lg mx-auto w-full">
        <ExpensePage client:load />
        <!-- <ExpenseFilters client:load />
        <ExpensesTable take={undefined} showCheckbox={true} filteredExpenses={$filteredExpenses} client:load /> -->
    </main>
</Layout>
