---
import Layout from "@/layouts/Layout.astro";
import ForgotPasswordPage from "@/components/forgotpassword/ForgotPassword";
---

<Layout title="Forgot Password">
    <main class="flex flex-col items-center h-svh">
        <div class="mt-20 w-auto flex flex-col items-center">
            <ForgotPasswordPage client:load />
        </div>
    </main>
</Layout>
