---
import { Button } from "@/components/ui/button";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
	<main class="p-3 h-full max-w-screen-lg mx-auto">
		<h1 class="text-center sm:text-left text-2xl font-bold">Dashboard</h1>
	</main>
</Layout>

<style></style>
