---
import { Button } from "@/components/ui/button";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
	<main>
		<Button size="lg">Hello!</Button>
	</main>
</Layout>

<style></style>
