---
import Layout from "../layouts/Layout.astro";
import Dashboard from "@/components/Dashboard";
import LandingPage from "@/components/LandingPage.astro";
const cookies = Astro.request.headers.get("cookie");
---

<Layout title={cookies ? "Dashboard" : "Budget App"}>
	<main class="p-3 h-full max-w-screen-lg mx-auto">
		{cookies ? <Dashboard /> : <LandingPage />}
	</main>
</Layout>
