---
import "@/styles/globals.css";

import { Button } from "@/components/ui/button";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
	<main class="grid place-items-center h-screen">
		<Button>Hello!</Button>
	</main>
</Layout>

<style></style>
