---
import Layout from "@/layouts/Layout.astro";
import LoginForm from "@/components/LoginForm";

// Redirect to home if user is logged in
import Protect from "@/components/Protect";
---

<Layout title="Login">
    <Protect client:load mustBeAuthenticated={false} />
    <main class="flex flex-col items-center h-svh">
        <div
            class="mt-20 border w-auto p-8 rounded-md flex flex-col items-center"
        >
            <h1 class="text-2xl font-bold py-3">Login</h1>
            <LoginForm client:only="react" />
            <div class="flex items-center justify-between w-full">
                <a
                    class="mt-3 text-sm text-primary opacity-70 hover:opacity-100"
                    href="/forgotPassword">Forgot Password?</a
                >
                <a
                    class="mt-3 text-sm text-primary opacity-70 hover:opacity-100"
                    href="/register"
                >
                    Register Now</a
                >
            </div>
        </div>
    </main>
</Layout>
