---
import Layout from "@/layouts/Layout.astro";
import ProfilePage from "@/components/profile/ProfilePage";

// Redirect to home if user is logged in
// import Protect from "@/components/Protect";
---

<Layout title="Profile - Basic Information">
    <!-- <Protect client:load mustBeAuthenticated={true} /> -->
    <main class="flex justify-center w-full h-svh relative">
        <ProfilePage client:load />
    </main>
</Layout>
