---
import Layout from "@/layouts/Layout.astro";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import RegisterForm from "@/components/RegisterForm";
---

<Layout title="Register">
    <main class="flex flex-col items-center h-svh">
        <div class="mt-20 border p-10 rounded-md flex flex-col items-center">
            <h1 class="text-2xl font-bold py-3">Register</h1>
            <RegisterForm client:only="react" />
            <a
                class="mt-3 text-sm text-muted-foreground hover:text-foreground"
                href="/login"
            >
                Already have an account?</a
            >
        </div>
    </main>
</Layout>
